/* Common shared styles */
body {

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.text-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding: 17px;
    height: 54px;
    width: 180px;
}

/* navigation related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
}

/* banner related styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;


}

.banner {
    display: flex;
    align-items: center;
    padding: 30px 30px 0 180px;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.profile-pic {
    width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-tittle {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 19px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 15px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section  */

.about {
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
    padding: 130px 150px 130px 150px;
}

.about-content {
    border: 1px solid #000;
    background: #FFF;

}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 1px;
    gap: 30px;

}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    gap: 30px;
}

/* about info */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 2px;

}

.info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7px;
    margin-top: 0%;

}
/* what-i-do section  */

.section-title{ 
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    gap: 30px;
   
}
.section-description{
    color:  #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding-left: 130px;
    padding-right:130px ;
    padding-bottom: 30px;
}
/* skill div styles */
.skill-container {
    display: flex;
    justify-content: space-between;
   
}

.skill{
    padding: 30px;
    gap: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
   
}
.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;

}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

/* Resume styles */

.Resume-title{
    color:  #181818;
text-align: center;
font-size: 35px;
font-weight: 700;
}

.resume-container{
    display: flex;
    justify-content: space-between;
}